<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/top-view-pepperoni-pizza-sliced-into-six-slices_141793-2157.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pepperoni Pizza</h5>
                          <p class="card-text">330</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/crispy-mixed-pizza-with-olives-sausage_140725-3095.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Crispy Mixed Pizza</h5>
                          <p class="card-text">360</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/mixed-pizza-with-various-ingridients_140725-3790.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Royal Mixed Pizza</h5>
                          <p class="card-text">500</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/front-view-delicious-cheese-pizza-consists-olives-pepper-tomatoes-dark-surface_179666-34391.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Cheese Pizza</h5>
                          <p class="card-text">250</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/chicken-pizza-with-bell-peppers-tomato-cheese-round-wooden-board_140725-10493.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Pizza</h5>
                          <p class="card-text">320</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/pizza-pepperoni-table_140725-5396.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic Pizza</h5>
                          <p class="card-text">300</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/salami-pizza-pepperoni-fast-food-takeaway-snack-healthy-meal_116118-2452.jpg?size=338&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Salami Pizza</h5>
                          <p class="card-text">330</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/fresh-tasty-pizza-white-background_211889-151.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hawai Pizza</h5>
                          <p class="card-text">330</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/traditional-supreme-pizza-wooden-table_123827-20134.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Supreme Pizza</h5>
                          <p class="card-text">360</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/vegetable-pizza-tomato-pepper-onion-mushroom-corn-fresh-meal-snack-table-copy-space_88242-13909.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Vegetable Pizza</h5>
                          <p class="card-text">320</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/delicious-classic-italian-pizza-with-mozzarella_79762-2653.jpg?size=338&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic Italian Pizza</h5>
                          <p class="card-text">360</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/whole-italian-pizza-wooden-table-with-ingredients_251318-13.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Italian Pizza</h5>
                          <p class="card-text">250</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/free-photo/vegetarian-pizza-with-zucchini-tomato-peppers-mushrooms-isolated-white-background_123827-21604.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic Veg Pizza</h5>
                          <p class="card-text">360</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/pizza-with-cheese-tomatoes-arugula_98862-4078.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Regular Pizza</h5>
                          <p class="card-text">330</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow text-center">
                        <img height="250px" src="https://img.freepik.com/premium-photo/delicious-classic-italian-pizza-with-mozzarella_79762-2652.jpg?size=626&ext=jpg&ga=GA1.2.704765753.1668926290&semt=sph" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mexican Pizza</h5>
                          <p class="card-text">330</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>